<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Thank you for Contacting Us </title>

            
        <!-- CSS FILES -->   
        <link href="../static/topnav.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link href="../static/homepage.css" rel="stylesheet">
        <link href="../static/contactmessage.css" rel="stylesheet">

    </head>
    
    <body>
        <div class="topnav">
            <a href ="/">Home</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>
        
        <h1> Thank you for your message </h1>
        <h2> If you provided a return email address, you can excpect us get back to you within 3-5 business days. </h2>   
    
    </body>
</html>
