<html>
    <head>
        <title>404 Error </title>
        <link href="../static/homepage.css" rel ="stylesheet">
        <link href="../static/error.css" rel="stylesheet">
    </head>

    <body>
        <p class="error">
            <img src="../static/images/404.png" alt="An image for 404 error message"
            width="500"
            height="300">
        </p>     

        <h2>Page Not Found</h2>
        <h3>The Page you are looking for doesn't exist or another error occured. Go to back to <a href="homepage.html">Home Page</a></h3>
    </body>
</html>