<!DOCTYPE html>
<html>
    <head>
        <title> Help </title>
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/faq.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bootstrap.min.css">

    </head>
    <body>
        <div class="topnav">
            <a href ="/">Home</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>

        <h2> FAQ/Troubleshooting </h2>

        <button class="accordion">  How do I use this website? </button>
        <div class="panel">
        <p> To search for product ingredients, select a brand from the drop-down menu and type the product name. To search for all products carried by a brand, simply select a brand (no need to type in a product).</p>
        </div>

        <button class="accordion"> The brand/product I'm looking for doesn't show up.</button>
        <div class="panel">
            <p> Your brand/product may not be in our database if it is not recognized from the USDA, or is a more recent product released after 2018. </p>
        </div>

        <button class="accordion"> Where did all the product ingredient information come from? Is it trustworthy?</button>
        <div class="panel">
        <p>The information comes from the US Department of Agriculutre Branded Food Products Database.</p>
        </div>

        <h3> If your question is not listed here, please contact us directly! </h3>

        <script src="../static/faq.js"></script>

        </body>
</html>