<!DOCTYPE html>
<html>
    <head>
        <title> Help </title>
        <link rel="stylesheet" href="../static/homepage.css">
        <link href="../static/topnav.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bootstrap.min.css">


    </head>
    <body>
        <div class="topnav">
            <a href ="/">Home</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>

        <h1>What 2 Eat </h1>
        <h2> Frequently Asked Questions </h2>   
        <h3> How do I use this website? </h3>
            <h4> To search for product ingredients, select a brand from the drop-down menu and type the product name. To search for all products carried by a brand, simply select a brand (no need to type in a product).</h4>
        <h3> The brand/product I'm looking for doesn't show up. </h3>
            <h4> Your brand/product may not be in our database if it is not recognized from the USDA, or is a more recent product released after 2018. </h4>

        <h3> Where did all the product ingredient information come from? Is it trustworthy? </h3>
            <h4> The information comes from the US Department of Agriculutre. </h4>

        <p> If your question is not listed here, please contact us directly! </p>




        </body>
</html>