<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        <div class="topnav">
            <a href ="http://127.0.0.1:5000/">Home</a>
            <a href="http://127.0.0.1:5000/help">Help</a>
            <a href="http://127.0.0.1:5000/contact">Contact</a>
        </div>

        <h1>What 2 Eat </h1>
        <h2> Frequently Asked Questions </h2>   
        <h3> How do I use this website? </h3>
        <h3> I can't search for the brand/product I'm looking for.</h3>
        <h3> Where did all the product ingredient information come from? Is it trustworthy? </h3>

        <p> If your question is not listed here, please contact us directly! </p>




        </body>
</html>