<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What 2 Eat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        <script type="text/javascript" src="script.js">
        </script>
        
        <!-- CSS FILES -->   
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">
        

    </head>

    <body>
        <div class="topnav">
            <a href ="http://127.0.0.1:5000/">Home</a>
            <a href="http://127.0.0.1:5000/help">Help</a>
            <a href="http://127.0.0.1:5000/contact">Contact</a>
        </div>


        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-6 col-sm-12">
                
                <div class="text-bg">
                    <h1> What 2 Eat </h1>
                    <p>  Welcome! Browse 80,000+ branded foods and private label data provided by the food industry. 

                    <p>
                        <div class = "howToUse">
                            Select a brand to see what products it carries
                        </div>
                        <form action="displayproducts">
                            <select name="brandSearch">
                                {% for brand in brandList %}
                                <option value="{{brand}}">{{brand}}</option>
                                {% endfor %}
                            </select>
                            <input class="button" type="submit" value="Get Products">
                        </form>
                    </p>

                    <p>
                        <div class = "howToUse">
                            Type the product name to view the full ingredient list
                        </div>
                        <form class="searchBox" action="displayingredients" method="post">
                            <input class="searchBox_fom" placeholder="product name" type="text" id="tags" name="product">
                            <script> 
                                $(function() {
                                    var availableTags = [
                                        {% for product in productList %}
                                            "{{product}}",
                                        {% endfor %}
                                    ];
                                    $( "#tags" ).autocomplete({
                                        source: availableTags
                                    });
                                } );
                            </script>
                            <input class="button" type="submit" value="Get Ingredients">
                        </form>
                    </p>     

            </div>
        </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <img src="../static/plate.jpeg" alt = "food plate">
            </div>
            </div> 

        </div>
    </div>


    </body>
</html>


