<html>
    <head>
        <title>What 2 Eat</title>
        <link rel="stylesheet" href="../static/datastyle.css">

    </head>
    <body>
        <h1>What 2 Eat</h1>
        <div class = "form">
            <h2> Search Products </h2>
            <p> Select a brand to get all products carried by the brand.</p>
            <form id="form" action="search">
                <label for="query1"> Brand </label>
                <select name="brandChoice">
                    <option value="Select">Select a brand</option>  
                    <option value="Target Stores">Target Stores</option>
                    <option value="Whole Foods">Whole Foods</option>   
                </select>
                <input type="submit" value="Search">
            </form>
            
            <h2> Search Ingredients </h2>
            <p> Curious about what ingredients your food products have? </p>
            <p> Select a brand from the drop-down menu, and enter the product name to get the full ingredient list. </p>

            <form id="form" action="search"></form>
                <label for="query2"> Brand </label>
                <select name="brandChoice">
                    <option value="Select">Select a brand</option>  
                    <option value="Target Stores">Target Stores</option>
                    <option value="Whole Foods">Whole Foods</option>   
                </select>

                <label for="query3"> Product Name </label>
                <input type="search" id="query1" name="titleChoice"
                placeholder="Enter product name ...">
                   
          
                 <input type="submit" value="Get Ingredients">
            </form>

        </div>

        <div class="highlight">
            <h2 id="data">Data source</h2>
            <a href="https://data.nal.usda.gov/dataset/usda-branded-food-products-database">USDA Branded Food Products Database.</a></p>
        </div>


    </body>
</html>
