<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients in {{product}}</title>
        <link rel="stylesheet" href="../static/ingredients.css">
        <link href="../static/homepage.css" rel="stylesheet">
        <link href="../static/topnav.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bootstrap.min.css">

    </head>
    <body>
        <div class="topnav">
            <a href ="/">Home</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>


        <h1>What's in {{product}}?</h1>
        <ul> 
            {% for ingredient in ingredients: %}
            <li>{{ingredient}}</option>
            {% endfor %}
        </ul>
        <a href="/">Search different brands/products</a>
    </body>
</html>