<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients in {{product}}</title>
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bootstrap.min.css">

        <!-- <link rel="stylesheet" href="../static/products.css"> -->

    </head>
    
    <body>
        <div class="topnav">
            <a href ="/">Home</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>

        <h1>{{brand}} carries:</h1>

        <ul> 
            {% for product in products: %}
            <li>{{product}}</option>
            {% endfor %}
        </ul>
        <a href="/">Search different brands/products</a>
    </body>
</html>
