body {
    background-color: #e5be6462;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10%;
}


/* What 2 Eat */
h1 {
    margin: 5%;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2.1px;
    text-align: center;
}

/* olive-oil*/
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}

.description {
    display: flex;
    flex-flow: column;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(35, 35, 35);
    letter-spacing: 2.1px;
}

p {
    margin-top: 4%;
    display: flex;
    justify-content: left;
}

.welcome { 
    margin-top: 8%;
    font-size: 25px;
    line-height:150%;
}

.howToUse {
    font-size: 16px;
    margin-bottom: 2%;
}

label {
    font-size: 21px;
    font-weight: 600;
    margin-right: 1%;
}

#brandLabel {
    margin-right: 4%;
}

ul {
    letter-spacing: 2.1px;
    justify-content: left;
    font-size: 14px;
    list-style: none;
}

.select {
    font-family: 'Arial';
    letter-spacing: 2.1px;
    border: 1px solid grey;
    height: 24px;
    width: 348px;
    margin: 0px 5px; 
    border-radius: 3px;
}

.searchBar {
    font-family: 'Arial';
    letter-spacing: 2.1px;
    border: 1px solid grey;
    height: 22px;
    width: 339px;
    padding: 0% 0% 0% 1%;
    margin: 0px 5px; 
    border-radius: 3px;
    background-color: #f5f5f5;
}

.button {
    font-family: 'Arial';
    letter-spacing: 2.0px;
    padding: 5px, 3px;
}


